body{
    background-color: black;
}
#main{
    color:  white;
    text-align: center;
    text-decoration: underline;
}
#second{
    color: yellow;
}
/*fist,third green*/
/*balnce blue*/

.success{
    color: green;
}
.primary{
    color: blue;
}
