.box{
    width: 300px;
    height: 100px;
    border: 1px #8e9e31 solid;
    color: white;
}

.bg-success{
    background-color: green;
}
.bg-warning{
    background-color: yellow;
}
.bg-danger{
    background-color: red;
}